llama-index
llama-index-llms-gemini
llama-index-embeddings-gemini
llama-index-vector-stores-chroma
youtube-transcript-api # For reading the youtube transcript
python-dotenv
pypdf
llama-index-readers-file
chromadb
gradio